*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
    line-height: 1.5;
    background-image: url("./tm-astro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0.9rem;
    background-attachment: fixed;
    
    animation: moveSky 50s linear infinite;
}

@keyframes moveSky {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 0;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    padding: 0.3rem;
}
.brand{
    font-size: 2rem;
    padding: 1rem;
    font-weight: 300;
    color: white;  
}
.bar{
    width:65% ;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: 300;
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: greenyellow;
}
.item{
    color: greenyellow;
}
.cricle1 {
    width:6vw; 
    height: 0.2vh;
    background-color: white;
    
}
.cricle2{
   width: 1.5vw;
   height: 3vh;
   border-radius: 50%;
   background-color: white;
}
.cricle3{
   width:6vw; 
   height: 0.2vh;
   background-color: white;
}
.cricle2:hover,.cricle1:hover,.cricle3:hover  {
background-color: greenyellow;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.5;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordersection{
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
}
.cricle4,.cricle5 {
   width: 1.5vw;
   height: 3vh;
   border-radius: 50%;
   background-color: white;
}
.bar1{
   width:80vw; 
   height: 0.1vh;
   background-color: white;
}
.container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center
    
}
.section{
    width: 72vw;
    overflow-x: auto;
    display: flex;
    gap: 2em;
    scroll-behavior: smooth;
    anchor-name: ---sunil;
    scroll-snap-type: x mandatory;
   
}
.carousel{
    scroll-snap-align:start ;
    margin: .5em;
    transition: all ;
}
.carousel ::scroll-marker{
    content: '';
    height: 2em;
    width: 2em;

    border-radius: 50%;
    background-color: greenyellow;
}

.section::-webkit-scrollbar{
    display: none;
}
.section::scroll-button(right),.section::scroll-button(left){
    content: '';
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-family: Consolas;
    font-size: 2rem;
    background-color: greenyellow;
    position: fixed;
    position-anchor: ---sunil;
    position-area: bottom center;
    translate: -10%;
    display: flex;
    
}
.section::scroll-button(left){
    content: '';
     position-area: bottom;
     translate: -160%;
}
.section::scroll-button(right):disabled,.section::scroll-button(left):disabled{
    opacity: 0.5;
    cursor: auto;
}
.foot{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}



