*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
    line-height: 1.5;
    background-image: url("./tm-astro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0.9rem;
    background-attachment: fixed;
        #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Video behind content */
}
}
    
    
   


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    padding: 0.3rem;
}
.brand{
    font-size: 2rem;
    padding: 1rem;
    font-weight: 300;
    color: white;
    
}
.bar{
    /* padding: 0.3rem; */
    /* border: 1px solid white; */
    width:65% ;
    display: flex;
    justify-content: space-evenly;
    /* gap: 2rem; */
    font-size: 1.2rem;
    font-weight: 300;
    /* padding-right: 0.9rem; */
}
.a{
    text-decoration: none;
    color: white;
}
.anger{
      color: greenyellow;
      text-decoration: none;
}
.cricle1 {
    width:6vw; 
    height: 0.2vh;
    background-color: white;
    
}
.cricle2{
   /* border: 1px solid white; */
   width: 1.5vw;
   height: 3vh;
   border-radius: 50%;
   background-color: white;
}
.cricle3{
   /* border: 1px solid white; */
   width:6vw; 
   height: 0.2vh;
   background-color: white;
}
.cricle2:hover  {
background-color: greenyellow;
}
.cricle3:hover {
background-color: greenyellow;
}
.cricle1:hover {
background-color: greenyellow;
}

.box{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.5;
}
a:hover  {
    color: greenyellow;
    text-decoration: none;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    /* border: 1px solid white; */
    height: 85vh;
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    line-height: 2;
}
.bordersection{

    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.cricle4 {
   width: 1.5vw;
   height: 3vh;
   border-radius: 50%;
   background-color: white;
}
.bar1{
    width:54vw; 
   height: 0.1vh;
   background-color: white;
}
.cricle5 {
   width: 1.5vw;
   height: 3vh;
   border-radius: 50%;
   background-color: white;
}
.infobox{
   /* border: 1px solid white; */
    width: 54vw;
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.mainbox{
/* border: 1px solid white; */
    width: 34vw;
    height: 53vh;
    /* line-height: 2; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    padding:1.5rem;
    font-size: 1.1rem;
     background: rgba(6, 6, 6, 0.4); 
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(2px);
    

}
.text{
    color: greenyellow;
    color: rgba(157, 208, 26, 0.6); 
    /* backdrop-filter: blur(2px); */
}
.text:hover{
    color: lightskyblue;
    color: rgba(148, 250, 248, 0.6); 
    /* backdrop-filter: blur(2px); */
}
.imgcontainer{
    /* border: 1px solid white; */
    height:53vh ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.Viwe{
    /* border: 1px solid white; */
    height: 9vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Gallery{
    /* border: 1px solid white; */
    height: 8vh;
    font-size: 1.2rem;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    background-color: whitesmoke;
    color: rgba(35, 34, 34, 0.6); 
    backdrop-filter: blur(2px);
    text-decoration: none;
    
}
.foot{
    /* border: 1px solid white; */
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}


@media screen and (max-width: 991px) {

    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .bar {
       display: none;
    }

    .section1 {
        width: 90%;
        height: auto;
    }

    .infobox {
        flex-direction: column;
        width: 90%;
        height: auto;
        gap: 2rem;
    }

    .mainbox {
        width: 90%;
        height: auto;
        font-size: 1rem;
    }

    .imgcontainer img {
        width: 100%;
      
    }

    .bar1 {
        width: 70vw;
    }

    .Gallery {
        width: 30vw;
        gap: 0.5em;
    }
}


/* For mobile phones 600px and below */
@media screen and (max-width: 600px) {

    .brand {
        font-size: 1.6rem;
    }

    .bar {
        
        display: none;
    }

    .section1 {
        width: 100%;
        padding: 1rem;
    }

    .infobox {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .mainbox {
        width: 100%;
        padding: 1rem;
    }

    .imgcontainer {
        width: 100%;
        align-items: center;
    }

    .imgcontainer img {
        width: 90%;
    }

    .bordersection {
        display: none;   /* Hide side lines on small devices */
    }

    .Gallery {
        width: 60vw;
        font-size: 1rem;
        height: 6vh;
        color: black;
    }

    .foot {
        flex-direction: column;
        font-size: 1rem;
        gap: .5rem;
        text-align: center;
    }
}













